body {
  background-color: rgb(41, 40, 33);
}
h1,
h2,
h4,
p,
footer {
  text-align: center;
  color: #f5f5f1;
}

.icons {
  margin-left: 0.8em;
  margin-right: 0.8em;
  font-size: 1.2em;
  color: #f5f5f1;
}

.navbar-nav {
  font-size: 90%;
}

#balde {
  color: #f5f5f1;
  font-size: 0.8em;
}

.footer-icon {
  color: #838383;
}

.footer-links {
  font-size: 0.8em;
}

.footer-links p {
  margin-bottom: 0.3em;
  color: #838383;
}

.footer-links a {
  color: #838383;
  text-decoration: none;
}

.footer-button {
  background-color: #221f1f;
  color: #838383;
  border-color: #838383;
}
.footer-button:hover {
  background-color: #e2a114;
  border-color: #838383;
}

.copyright {
  color: #838383;
  font-size: 1em;
}

.details-container {
  text-align: center;
  margin-top: 50px;
}

.weather-card,
.forecast-card {
  margin-top: 2.5rem;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-color: #ffc107;
}

.card-img-top {
  max-width: 100%;
  border-radius: 15px;
  object-fit: cover;
  max-height: auto;
}

.card-body {
  background-color: #221f1f;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forecast-details .row {
  color: #f5f5f5;
  justify-content: center;
}

.forecast-card .card-body {
  font-size: 1.2em;
  background-color: #221f1f;
}
.city-image-card {
  border: none;
  background-color: #221f1f;
  align-items: center;
}
.weather-card:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 15px #b4a167;
}
.forecast-card {
  box-shadow: 0 0 15px #313253;
  transform: scale(1.01);
}
